@page
@model KoiPondConstruction.RazorWebApp.Pages.DemoKoiPondConstruct.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblImgRefer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblImgRefer.Id" />
            <div class="form-group">
                <label asp-for="TblImgRefer.ImgUrl" class="control-label"></label>
                <input asp-for="TblImgRefer.ImgUrl" class="form-control" />
                <span asp-validation-for="TblImgRefer.ImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblImgRefer.CreatedTime" class="control-label"></label>
                <input asp-for="TblImgRefer.CreatedTime" class="form-control" />
                <span asp-validation-for="TblImgRefer.CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblImgRefer.DeletedTime" class="control-label"></label>
                <input asp-for="TblImgRefer.DeletedTime" class="form-control" />
                <span asp-validation-for="TblImgRefer.DeletedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
